<html>

<head>
<style>
	table {
		border-collapse: collapse;
	}

	table, td, th {
		border: 1px solid black;
	}

	td {
    	padding: 5px;
		
	}
</style>
</head>

<div style="background-color: yellow;">
	<H1>Retrieve labour negotiations</H1>
</div>

<body>
	<table style="width:100%;">
		<tr>
				<td style="font-weight: bold; background-color: yellow;">Duration</td>
				<td style="font-weight: bold; background-color: yellow;">Wage inc</td>
				<td style="font-weight: bold; background-color: yellow;">Working hours</td>
				<td style="font-weight: bold; background-color: yellow;">Standby Pay</td>
				<td style="font-weight: bold; background-color: yellow;">Vacation</td>
				<td style="font-weight: bold; background-color: yellow;">LD Assistance</td>
				<td style="font-weight: bold; background-color: yellow;">Contrib to dental plan</td>
				<td style="font-weight: bold; background-color: yellow;">BA</td>
				<td style="font-weight: bold; background-color: yellow;">Class</td>
				<td style="font-weight: bold; background-color: yellow;">Date Time</td>
		</tr>
		<tr>
				<td>1</td>
				<td>3.913</td>
				<td>40</td>
				<td>6</td>
				<td>average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>5.8</td>
				<td>35</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>full</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>3.913</td>
				<td>38</td>
				<td>6</td>
				<td>generous</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>4</td>
				<td>38</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>4.5</td>
				<td>40</td>
				<td>6</td>
				<td>average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>2.5</td>
				<td>35</td>
				<td>6</td>
				<td>average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>5</td>
				<td>38</td>
				<td>6</td>
				<td>generous</td>
				<td>yes</td>
				<td>none</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>4.8</td>
				<td>40</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>7</td>
				<td>38</td>
				<td>12</td>
				<td>below-average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>1</td>
				<td>3.913</td>
				<td>40</td>
				<td>6</td>
				<td>generous</td>
				<td>yes</td>
				<td>full</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>4</td>
				<td>36</td>
				<td>6</td>
				<td>generous</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>6.4</td>
				<td>38</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>full</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>4</td>
				<td>40</td>
				<td>6</td>
				<td>below-average</td>
				<td>no</td>
				<td>half</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>4</td>
				<td>37</td>
				<td>6</td>
				<td>generous</td>
				<td>yes</td>
				<td>full</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>1</td>
				<td>3.913</td>
				<td>36</td>
				<td>6</td>
				<td>generous</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>4</td>
				<td>37</td>
				<td>6</td>
				<td>average</td>
				<td>yes</td>
				<td>full</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>1</td>
				<td>3.913</td>
				<td>35</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>1</td>
				<td>3.913</td>
				<td>40</td>
				<td>2</td>
				<td>below-average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>1</td>
				<td>3.913</td>
				<td>38</td>
				<td>6</td>
				<td>average</td>
				<td>no</td>
				<td>none</td>
				<td>no</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>5</td>
				<td>35</td>
				<td>13</td>
				<td>generous</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>4.4</td>
				<td>38</td>
				<td>6</td>
				<td>generous</td>
				<td>yes</td>
				<td>full</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>3</td>
				<td>40</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>4</td>
				<td>27</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>4</td>
				<td>40</td>
				<td>6</td>
				<td>generous</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>1</td>
				<td>3.913</td>
				<td>38</td>
				<td>8</td>
				<td>generous</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>2</td>
				<td>40</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>4.5</td>
				<td>38</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>none</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>3</td>
				<td>33</td>
				<td>6</td>
				<td>generous</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>4</td>
				<td>37</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>full</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>2.5</td>
				<td>35</td>
				<td>6</td>
				<td>average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>4.5</td>
				<td>40</td>
				<td>6</td>
				<td>average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>2</td>
				<td>40</td>
				<td>6</td>
				<td>below-average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>2.5</td>
				<td>38</td>
				<td>6</td>
				<td>average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>5</td>
				<td>40</td>
				<td>6</td>
				<td>below-average</td>
				<td>no</td>
				<td>none</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>2.5</td>
				<td>40</td>
				<td>2</td>
				<td>below-average</td>
				<td>no</td>
				<td>half</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>2</td>
				<td>40</td>
				<td>6</td>
				<td>average</td>
				<td>yes</td>
				<td>none</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>1</td>
				<td>3.913</td>
				<td>40</td>
				<td>4</td>
				<td>generous</td>
				<td>no</td>
				<td>none</td>
				<td>no</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>1</td>
				<td>3.913</td>
				<td>38</td>
				<td>2</td>
				<td>below-average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>3</td>
				<td>2.5</td>
				<td>37</td>
				<td>6</td>
				<td>average</td>
				<td>yes</td>
				<td>half</td>
				<td>yes</td>
				<td>bad</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
		<tr>
				<td>2</td>
				<td>4</td>
				<td>40</td>
				<td>6</td>
				<td>average</td>
				<td>yes</td>
				<td>full</td>
				<td>yes</td>
				<td>good</td>
				<td>Wed, Oct 7, '15</td>
		</tr>
	</table>
</body>
</html>
