<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	<module name="TreeWalker">

		<!-- Checks for Annotations. -->
		<!-- See http://checkstyle.sourceforge.net/config_annotation.html -->
		<module name="MissingDeprecated" />

		<!-- Checks for class design -->
		<!-- See http://checkstyle.sf.net/config_design.html -->
		<module name="FinalClass" />
		<module name="HideUtilityClassConstructor" />
		<module name="InterfaceIsType" />
		<module name="VisibilityModifier" />

		<!-- Checks for common coding problems -->
		<!-- See http://checkstyle.sf.net/config_coding.html -->
		<module name="CovariantEquals" />
		<module name="DefaultComesLast" />
		<module name="EmptyStatement" />
		<module name="EqualsHashCode" />
		<module name="IllegalInstantiation" />
		<module name="IllegalThrows" />
		<module name="InnerAssignment" />
		<module name="ModifiedControlVariable" />
		<module name="MissingSwitchDefault" />
		<module name="MultipleVariableDeclarations" />
		<module name="NoFinalizer" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="StringLiteralEquality" />
		<module name="UnnecessaryParentheses" />

		<!-- Checks for imports -->
		<!-- See http://checkstyle.sf.net/config_import.html -->
		<module name="AvoidStarImport" />
		<module name="IllegalImport" /> <!-- defaults to sun.* packages -->
		<module name="RedundantImport" />

		<!-- Checks for Javadoc comments. -->
		<!-- See http://checkstyle.sf.net/config_javadoc.html -->
		<module name="JavadocType">
			<property name="authorFormat" value="\S" /> <!-- Check for @Author tag -->
			<property name="scope" value="public" />
		</module>
		<module name="JavadocMethod">
			<property name="allowMissingPropertyJavadoc" value="true" />
			<property name="scope" value="public" />
		</module>
		<module name="JavadocVariable">
			<property name="scope" value="public" />
		</module>

		<!-- Checks for Size Violations. -->
		<!-- See http://checkstyle.sf.net/config_sizes.html -->
		<module name="MethodLength" />

		<!-- Checks whitespaces -->
		<!-- See http://checkstyle.sourceforge.net/config_whitespace.html -->
		<module name="GenericWhitespace" />
		<module name="EmptyForInitializerPad" />
		<module name="EmptyForIteratorPad" />
		<module name="MethodParamPad" />
		<module name="OperatorWrap" />
		<module name="TypecastParenPad" />
		<module name="WhitespaceAfter">
			<property name="tokens" value="COMMA, SEMI" />
		</module>

		<!-- Checks Naming Conventions -->
		<!-- See http://checkstyle.sourceforge.net/config_naming.html -->
		<module name="ClassTypeParameterName" />
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName">
			<property name="format" value="^[a-z_][a-zA-Z0-9_]*$" />
		</module>
		<module name="MethodName">
			<property name="format" value="^[a-z_][a-zA-Z0-9_]*$" />
		</module>
		<module name="MethodTypeParameterName" />
		<module name="PackageName">
			<property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$" />
		</module>
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />

		<!-- Miscellaneous other checks. -->
		<!-- See http://checkstyle.sf.net/config_misc.html -->
		<module name="ArrayTypeStyle" />
		<module name="TodoComment" />
		<module name="UpperEll" />

		<!-- to enable SuppressionCommentFilter -->
		<module name="FileContentsHolder" />
		
		<!-- to enable SuppressWarningsFilter -->
		<module name="SuppressWarningsHolder" />
	</module>

	<!-- allows suppressing using the //CHECKSTYLE:ON //CHECKSTYLE:OFF -->
	<module name="SuppressionCommentFilter" />
	
	<!-- Allows suppressing using @SuppressWarnings annotation -->
	<module name="SuppressWarningsFilter" />
</module>